.git
.gitignore
.github

vendor/
node_modules/

storage/cache/*
storage/logs/*
storage/files/*
!storage/files/uploads/.gitkeep
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/files/.gitkeep

tests/
.phpunit.result.cache
phpunit.xml.dist

.idea/
.vscode/
.DS_Store

.env
.env.local
.env.*.local

*.log
*.tmp
*.cache

dist/
build/
composer.lock

docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore
*.md
!VERSION
LICENSE