vendor/
storage/cache/*
storage/logs/*
storage/files/*
storage/keys/*
storage/.migrations_completed
!storage/files/uploads/.gitkeep
!storage/cache/.gitkeep
!storage/logs/.gitkeep
!storage/files/.gitkeep
!storage/keys/.gitkeep
.phpunit.result.cache
composer.lock
.idea/
.vscode/
.DS_Store
.env
*.log
*.tmp
*.cache
node_modules/
dist/
build/
.changes.md
.todo.md